@model FeelShare.Web.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Забыл пароль";
}
<h2>@ViewData["Title"]</h2>
<form method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button class="btn btn-primary">Отправить ссылку</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
